* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-image: url("Background.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  .wrapper {
    box-sizing: content-box;
    width: 14.5em;
    padding: 2.5em 2em;
    background-color:rgb(255, 255, 255, 0.6);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }
  .game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 1em;
  }
  .card-container {
    position: relative;
    width: 6.7em;
    height: 5.1em;
    cursor: pointer;
  }
  .card-before,
  .card-after {
    position: absolute;
    border-radius: 5px;
    width: 20vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-before {
    background-color: #f4c531;
    font-size: 2.8em;
    font-weight: 600;
  }
  .card-after {
    background-color: #ffffff;
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
  }
  button {
    position: absolute;
    bottom: 5vh;
    background-color: #ffffff;
    border: 5px solid black;
    border-radius: 1vh;
    padding: 0.7vh 1vh;
    cursor: pointer;
    font-weight: 600;
  }
  .controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}
.hide {
  display: none;
}
.instruction{
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    font-weight: 600;
}
.title{
    position: inherit;
    top: 5vh;
    font-size: 2em;
    font-weight: 600;
}
.card-image {
    position: absolute;
    border-radius: 5px;
    width: 20vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .preview{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2,20vh);
    grid-template-rows:repeat(3,15vh);
    gap: 2vh;
    top: -2vh;
    border-radius: 1vmin;
    padding: 0.5vh;
    position: relative;
  }
  .card-1{
    border-radius: 1vmin;
    width: 20vh;
    height: 15vh;
    background-image: url("NationalTheatre.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 4px solid #000000;
    background-size: cover;
    background-position: center;
  }
  .card-2{
    border-radius: 1vmin;
    width: 20vh;
    height: 15vh;
    border: 4px solid #000000;
    background-image: url("BoatQuay.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .card-3{
    border-radius: 1vmin;
    width: 20vh;
    height: 15vh;
    background-image: url("SingaporeZoologicalGardens.png");
    background-repeat: no-repeat;
    border: 4px solid #000000;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .card-4{
    border-radius: 1vmin;
    width: 20vh;
    height: 15vh;
    background-image: url("DovePlayground.png");
    background-repeat: no-repeat;
    border: 4px solid #000000;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .card-5{
    border-radius: 1vmin;
    width: 20vh;
    height: 15vh;
    background-image: url("SirStamfordRafflesStatue.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 4px solid #000000;
    background-size: cover;
    background-position: center;
  }
  .card-6{
    border-radius: 1vmin;
    width: 20vh;
    height: 15vh;
    background-image: url("DragonPlayground.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 4px solid #000000;
    background-size: cover;
    background-position: center;
  }
  h2{
    position: absolute;
    justify-content: center;
    align-items: center;
  }

  .resize{
    height: 40vh;
    width: 50vh;
  }
  .move{
    position: inherit;
    color: #ffffff;
    text-align: center;
  }
  .result{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .preview-container{
    position: relative;
    justify-content: center;
    align-items: center;
  }
  /*mobile*/
  @media screen and (max-width:767px) {
    body {  
      width: 100%;
      height: 100vh;
    }
  }

    /*ipad*/
    @media screen and (min-width:768px) and (max-width:1023px) {
    
    }

        /*laptop*/
        @media screen and (min-width:1024px) and (max-width:1199px) {
    
        }

