* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #F8E7D4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
  }
  #start:active,.easy:active,.normal:active,.hard:active,.again-button:active,.home-button:active{
    animation: animate 0.2s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-20deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(20deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}
  .wrapper {
    box-sizing: content-box;
    width: 85%;
    height: 95%;
    position: absolute;
    place-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
  }
  .game-container {
    position: relative;
    width: 100%;
    height: 85%;
    display: grid;
  }
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-before,
  .card-after {
    position: absolute;
    border-radius: 5px;
    width: 22vh;
    height: 19vh;
    display: flex;
    color: #F8E7D4;
    align-items: center;
    justify-content: center;
    border: 4px solid #CA503C;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-before {
    background-color: #E15554;
    font-size: 5vh;
    font-weight: 600;
  }
  .card-after {
    background-color: #E15554;
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
  .controls-container,
  .background,
  .final {
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 2vh;
    width: 100%;
    height: 100%;
    background-color: #F8E7D4;
    top: 0;
  }
  .matched{
    transition: 2s;
    opacity: 40%;
  }
  .selection{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    gap: 200px;
    text-align: center;
    background-color: #F8E7D4;
    min-height: 100vh;
    z-index: 10;
  }
  .choices{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  button{
    background-color: rgba(255, 255, 255,0);
    border: 0px;
  }
  .center{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
  }
  .smaller{
    width: 70%;
  }
  .small{
    width: 40vh;
    height: 10vh;
  }
.hide {
  display: none;
  visibility: hidden;
}
.title{
    position: inherit;
    top: 5vh;
    width: 20vh;
}
.card-image {
    position: absolute;
    border-radius: 5px;
    width: 22.1vh;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .preview{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2,27vh);
    grid-template-rows:repeat(2,17vh);
    gap: 1vh;
    border-radius: 1vmin;
    padding: 0.5vh;
    position: relative;
  }
  .card-1{
    border-radius: 2vmin;
    width:27vh;
    height: 17vh;
    background-image: url("./img/NationalTheatre.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .card-2{
    border-radius: 1vmin;
    width:27vh;
    height: 17vh;
    background-image: url("./img/BoatQuay.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .card-3{
    border-radius: 1vmin;
    width:27vh;
    height: 17vh;
    background-image: url("./img/SingaporeZoologicalGardens.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .card-6{
    border-radius: 1vmin;
    width:27vh;
    height: 17vh;
    background-image: url("./img/DragonPlayground.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  h2{
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .resize{
    height: 45vh;
    width: 35vh;
  }
  .result{
    text-align: center;
  }
  .move{
    position: inherit;
    color: #ffffff;
    text-align: center;
  }
  .preview-container{
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .Finaltitle{
    position: inherit;
    width: 20vh;
    text-align: center;
    
  }
  .instruction1,
  .instruction2{
    position: absolute;
    z-index: 100;
    display: flex;
    width: 90vmin;
    height: 90vmin;
    justify-content: center;
    align-items: center;
  }
  .picture{
    width: 90vmin;
  }
  .close{
    position: absolute;
    margin-bottom: -60vmin;
    display: flex;
  }
  .smallbtn{
    width: 20vmin;
    height: 7vmin;
  }
  .pre,
  .next{
    position: absolute;
    display: flex;
  }
  .pre{
    margin-left: -75vmin;
    margin-bottom: -5vmin;
  }
  .next{
    margin-right: -75vmin;
    margin-bottom: -5vmin;
  }
  .prebtn,
  .nextbtn{
    width: 6vmin;
  }

  /*mobile*/
  @media screen and (max-width:767px) {
    body {  
      width: 100%;
      height: 100vh;
    }
  }

    /*ipad*/
    @media screen and (min-width:768px) and (max-width:1023px) {
      .wrapper{
        width: 70%;
      }
      .smaller{
        width: 70%;
        margin-bottom: 20px;
      }
    }
    /*laptop*/
    @media screen and (min-width:1200px){
      .wrapper{
        width:30%;
        margin: 0 auto;
    }
    .card-before, .card-after{
      width: 90%;
    }
    .card-image{
      width: 90%;
      object-fit: cover;
    }
    }      



    @media screen and (max-width:767px){
      .endTitle {
        display: none;
      }
    }